<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Invoice System{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <style>
    body {
      background: linear-gradient(to right, #0f9b0f, #000000);
      color: white;
    }
  </style>

<link rel="manifest" href="/static/manifest.json">
<script src="/static/serviceworker.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
  <nav class="navbar navbar-light bg-light justify-content-end">
    <span class="me-3">Hi, {{ request.user.username }}</span>
    <a href="{% url 'logout' %}" class="btn btn-outline-danger me-4">Logout</a>
  </nav>

  {% block content %}
  {% endblock %}
</body>
</html>
